[submodule "extensions/skyportal/data/grandma_data"]
	path = extensions/skyportal/data/grandma_data
	url = https://github.com/grandma-collaboration/grandma_data.git
[submodule "skyportal"]
	path = skyportal
	url = https://github.com/skyportal/skyportal.git
[submodule "extensions/skyportal-fink-client"]
	path = extensions/skyportal-fink-client
	url = https://github.com/skyportal-contrib/skyportal-fink-client.git
